[tool.poetry]
name = "compass-sdk"
version = "1.0.0"
authors = []
description = "Compass SDK"

[tool.poetry.dependencies]
fsspec = "2024.2.0"
joblib = "1.4.2"
pydantic = ">=2.6.3"
python = ">=3.9,<3.12"
requests = ">=2.25.0,<3.0.0"
tenacity = "8.2.3"
tqdm = ">=4.42.1"

[tool.pyright]
typeCheckingMode = 'basic'
reportMissingImports = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
