name: "Test"

on:
  push:
    branches:
      - "main"
    paths:
      # Always run when workflow configs change
      - ".github/workflows/**"
      # Run when package changes
      - "**"
  release:
    types: [published]

  pull_request:
    branches:
      - "main"
    paths:
      # Always run when workflow configs change
      - ".github/workflows/**"
      # Run when package changes
      - "**"

  workflow_dispatch: {}

jobs:
  test_client:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        id: setup_python
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: |
            poetry.lock

      - name: Install poetry
        run: |
          pip install poetry

      - name: Install dependencies
        run: |
          poetry install

      - name: Run tests
        working-directory: .
        run: |
          poetry run pytest -sv
